/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #f8f9fa;
  --correct-answer-color: #28a745;
  --wrong-answer-color: #dc3545;
}